ul.links li.share_link {
  outline: none;
  border: 1px #666 solid;
  position: relative;
}

div.sony_share ul {
  position: absolute;
  background: white;
  border: 1px solid black;
  bottom: 20px;
  display: block;
  width: auto;
  right: -10px;  
}
div.sony_share ul li {
  clear: left;
  float: left;
}
div.sony_share ul {
  list-style: none;
  margin: 0;
  padding: 5px;

}